.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  font-family: 'Racing Sans One', cursive;
  color: rgb(245, 56, 9);
}


.nav {
  display: inline;
  text-align: left;
  color: white;
  padding: 0 10px 0 10px;
  text-decoration-line: none;
  font-size: large;
  font-weight: 600;
}
.topic-title {
  display: flex;
  align-items: center;
  justify-content: right;
  width: fit-content;
  margin: 0 0 0 0;
}

.post-form {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 2px;
  padding: 20px;
  border-radius: 1rem;
}


.post-form h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    font-size: x-large;
}

.post-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-form li {
  display: block;
  padding: 9px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.post-form li:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
}

.post-form li>label {
  display: block;
  float: left;
  margin-top: -19px;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: white;
  font-size: 14px;
  overflow: hidden;
}

.post-form input[type="text"],
.post-form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
}



.form-layout li>span {
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: white;
  font-size: 11px;
}